[submodule "SolucionTest/Proyecto1"]
	path = SolucionTest/Proyecto1
	url = https://github.com/Blackfyre93/Proyecto1.git
[submodule "SolucionTest/Proyecto2"]
	path = SolucionTest/Proyecto2
	url = https://github.com/Blackfyre93/Proyecto2.git
